body {
    font-family: "Montserrat";
    margin: 0;
}

.main-content-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 200px;
    /* background: green; */
    display: flex;
    flex-flow: row wrap;
}

.container {
    /* display: flex; */
    height: 50px;
    margin: 10px 1em;
    padding-left: 10px;
    padding-right: 10px;
    /* background: pink; */
    flex: 0 1 20%;
}

.container:nth-child(n+1):nth-child(-n+4) {
    display: flex;
    /* background: orange; */
    height: 250px;
    align-items: center;
    justify-content: center;
}

.container:nth-child(n+5):nth-child(-n+8) {
    display: flex;
    color: rgb(243, 77, 51);
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.container:nth-child(n+9):nth-child(-n+12) {
    height: auto;
}

.image-header {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    /* background-color: #662b8c; */
}

.image-text {
    margin: 0;
    height: 200px;
    text-align: left;
}

img {
    max-width: 75%;
    margin: 0;
    /* background-color: #662b8c; */
}
