body {
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 400px;
    margin-left: calc((100% - 400px) / 2);
}

.regtangle {
    display: flex;
    gap: 30px;
}