body {
    font-family: "Montserrat";
    margin: 0;
}

.main-content-container {
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    background: green;
    display: flex;
    flex-flow: row wrap;
    order: 1;
}

.container {
    height: 50px;
    margin: 10px 1em;
    padding-left: 10px;
    padding-right: 10px;
    /* background: pink; */
    display: flex;
    flex: 0 1 210px;
}

.container:nth-child(n+1):nth-child(-n+4) {
    display: flex;
    /* background: orange; */
    height: 250px;
    align-items: center;
    justify-content: center;
}

.container:nth-child(n+5):nth-child(-n+8) {
    display: flex;
    /* background-color: aquamarine; */
    color: rgb(243, 77, 51);
    align-items: center;
    justify-content: center;
}

.container:nth-child(n+9):nth-child(-n+12) {
    display: flex;
    /* background-color: aqua; */
    height: auto;
}

.image-header {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}

.image-text {
    margin: 0;
    height: 200px;
    text-align: left;
}

img {
    position: absolute;
    max-width: 75%;
    margin: 0;
    /* background-color: blueviolet; */
}

.digits {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    top: -125px;
    left: -114px;
}
